.playlist_actions {
    margin-left: auto;
}

.playlist_edit, .playlist_delete {
    font-size: 2rem;
}

.playlist_name {
    width: 16rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.playlist_names {
    padding-left: 0;
}

.playlist_names li {
    padding: 0.8rem 0;
}