.no_video {
    display: block;
    width: 100%;
}

.no_video a {
    color: var(--primary-color);
}

.group_videos {
    grid-template-columns: repeat(3, 1fr);
}

.watch_later {
    background-color: var(--background);
}