.nav_group {
    margin: 0;
    border-radius: 0;
    min-height: 7vh;
    padding: 1.5rem 3rem;
    font-size: 1.4rem;
}

.auth_btn {
    color: var(--black) !important;
}

.auth_btn:hover {
    background-color: var(--auth-btn-hover) !important;
}