footer {
    background-color: var(--box-shadow);
}

footer .copy_rights {
    gap: 0.5rem;
}

footer .copy_rights p {
    font-size: 1.6rem;
}

footer .copy_rights i {
    font-size: 2.6rem;
}

.copy_rights i:hover {
    color: var(--primary-color);
}

.copy_rights a {
    color: var(--black);
}