.search_input {
    border-radius: 4px;
    padding: 0.5rem;
    transition: width 200ms;
    width: 300px;
    margin: 2rem auto;
    display: flex;
    border: 1px solid rgb(200, 201, 202);
    font-size: 1.6rem;
    position: absolute;
    top: 5px;
}